<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.han.ls.project.mapper.CaseMapper">


    <insert id="add" parameterType="com.han.ls.project.domain.Case">
        insert into ls_case (user_id, description, county_id, address, desc_imgs)
        values (#{userId}, #{description}, #{countyId}, #{address}, #{descImgs})
    </insert>
    <insert id="collectCase" parameterType="com.han.ls.project.domain.UserCase">
        insert into ls_user_case (user_id, case_id, create_time)
        values (#{userId}, #{caseId}, #{createTime})
    </insert>
    <delete id="unCollectCase">
        delete
        from ls_user_case
        where user_id = #{userId}
          and case_id = #{caseId}
    </delete>
    <select id="list" parameterType="com.han.ls.project.vo.req.CaseListReqVo"
            resultType="com.han.ls.project.domain.Case">
        select ls_case.*
        from ls_case, ls_user
        <where>
            ls_case.user_id = ls_user.id
            <!-- <if test="userName != null and userName != ''"> -->
            <!--     and userName like CONCAT ('%', #{userName}, '%') -->
            <!-- </if> -->
            <!-- <if test="description != null and description != ''"> -->
            <!--     and description like CONCAT ('%',#{description},'%') -->
            <!-- </if> -->
            <if test="searchValue != null and searchValue != ''">
                userName like CONCAT ('%', #{userName}, '%') or description like CONCAT ('%',#{description},'%')
            </if>
            and available = '1'
        </where>
    </select>
    <select id="selectUserCase" resultType="com.han.ls.project.domain.UserCase">
        select *
        from ls_user_case
        where user_id = #{userId}
        <if test="caseIdList != null and caseIdList.size() > 0">
            and
            <foreach collection="caseIdList" item="caseId" separator="or" open="(" close=")">
                case_id = #{caseId}
            </foreach>
        </if>
    </select>
</mapper>