<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.han.ls.project.mapper.CaseMapper">


    <insert id="add" parameterType="com.han.ls.project.domain.Case">
        insert into ls_case (user_id, description, county_id, address, desc_imgs, create_time)
        values (#{userId}, #{description}, #{countyId}, #{address}, #{descImgs}, #{createTime})
    </insert>
    <insert id="collectCase" parameterType="com.han.ls.project.domain.UserCase">
        insert into ls_user_case (user_id, case_id, create_time)
        values (#{userId}, #{caseId}, #{createTime})
    </insert>
    <delete id="unCollectCase">
        delete
        from ls_user_case
        where user_id = #{userId}
          and case_id = #{caseId}
    </delete>
    <select id="list" parameterType="com.han.ls.project.vo.req.CaseListReqVo"
            resultType="com.han.ls.project.domain.Case">
        select ls_case.*,ls_user.phone,ls_user.wx_code
        from ls_case, ls_user
        <where>
            ls_case.user_id = ls_user.id
            <if test="searchValue != null and searchValue != ''">
                and (ls_user.user_name like CONCAT ('%', #{searchValue}, '%') or ls_case.description like CONCAT
                ('%',#{searchValue},'%') or ls_case.address like CONCAT ('%',#{searchValue},'%'))
            </if>
            and ls_case.available = '1'
        </where>
        order by ls_case.create_time desc
    </select>

    <select id="collectList" parameterType="com.han.ls.project.vo.req.CaseListReqVo"
            resultType="com.han.ls.project.domain.Case">
        select ls_case.*,ls_user.phone,ls_user.wx_code
        from ls_case, ls_user, ls_user_case
        <where>
            ls_case.user_id = ls_user.id
            and ls_case.id = ls_user_case.case_id
            and ls_user_case.user_id = #{userId}
            and ls_case.available = '1'
        </where>
        order by ls_case.create_time desc
    </select>

    <select id="selectUserCase" resultType="com.han.ls.project.domain.UserCase">
        select *
        from ls_user_case
        where user_id = #{userId}
        <if test="caseIdList != null and caseIdList.size() > 0">
            and
            <foreach collection="caseIdList" item="caseId" separator="or" open="(" close=")">
                case_id = #{caseId}
            </foreach>
        </if>
    </select>
    <select id="countByUserIdAndCaseId" resultType="java.lang.Integer">
        select count(id)
        from ls_user_case
        where user_id = #{userId}
          and case_id = #{caseId}
    </select>
</mapper>