<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.han.ls.project.mapper.TaskMapper">

    <insert id="add" parameterType="com.han.ls.project.domain.Task" useGeneratedKeys="true" keyProperty="id">
        insert into ls_task (description, desc_imgs, issuer_id, publish_time, deadline, duty_ids, create_time)
        values (#{description}, #{descImgs}, #{issuerId}, #{publishTime}, #{deadline}, #{dutyIds}, #{createTime})
    </insert>
    <update id="finish" parameterType="com.han.ls.project.domain.Task">
        update ls_task
        set finish_time    = #{finishTime},
            finish_user_id = #{finishUserId},
            finish_imgs    = #{finishImgs},
            case_id        = #{caseId},
            update_time    = #{updateTime}
        where id = #{id}
    </update>
    <update id="update" parameterType="com.han.ls.project.domain.Task">
        update ls_task
        set description = #{description},
            desc_imgs   = #{descImgs},
            deadline    = #{deadline},
            duty_ids    = #{dutyIds},
            update_time = #{updateTime}
        where id = #{id}
    </update>
    <update id="disable">
        update ls_task
        set available = '0'
        where id = #{id}
    </update>

    <select id="list" parameterType="com.han.ls.project.vo.req.TaskListReqVo"
            resultType="com.han.ls.project.domain.Task">
        select ls_task.*, ls_user.phone, ls_user.wx_code from ls_task,ls_user
        <where>
            and ls_task.issuer_id = ls_user.id
            <if test="dutyId > 0">
                and ls_task.duty_ids like CONCAT('%', #{dutyId}, '%')
            </if>
            <if test="searchValue != null and searchValue != ''">
                and (ls_task.description like CONCAT ('%', #{searchValue}, '%') or ls_user.user_name like CONCAT ('%',
                #{searchValue}, '%') )
            </if>
            and ls_task.available = '1'
        </where>
        order by ls_task.create_time desc
    </select>
    <select id="selectById" resultType="com.han.ls.project.domain.Task">
        select *
        from ls_task
        where id = #{id}
    </select>
    <select id="myTaskList" parameterType="com.han.ls.project.vo.req.TaskListReqVo"
            resultType="com.han.ls.project.domain.Task">
        select ls_task.*, ls_user.phone, ls_user.wx_code from ls_task,ls_user
        <where>
            and ls_task.issuer_id = ls_user.id
            and ls_task.issuer_id = #{userId}
            and ls_task.available = '1'
        </where>
        order by ls_task.create_time desc
    </select>

</mapper>