<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.han.ls.project.mapper.TaskMapper">

    <insert id="add" parameterType="com.han.ls.project.domain.Task" useGeneratedKeys="true" keyProperty="id">
        insert into ls_task (description, desc_imgs, issuer_id, publish_time, deadline, create_time)
        values (#{description}, #{descImgs}, #{issuerId}, #{publishTime}, #{deadline}, #{createTime})
    </insert>
    <update id="finish" parameterType="com.han.ls.project.domain.Task">
        update ls_task
        set finish_time    = #{finishTime},
            finish_user_id = #{finishUserId},
            finish_imgs    = #{finishImgs},
            case_id        = #{caseId},
            update_time    = #{updateTime}
        where id = #{id}
    </update>
    <update id="update" parameterType="com.han.ls.project.domain.Task">
        update ls_task
        set description = #{description},
            desc_imgs   = #{descImgs},
            deadline    = #{deadline},
            update_time = #{updateTime}
        where id = #{id}
    </update>
    <update id="disable">
        update ls_task
        set available = '0'
        where id = #{id}
    </update>

    <select id="list" parameterType="com.han.ls.project.vo.req.TaskListReqVo"
            resultType="com.han.ls.project.domain.Task">
        select * from ls_task
        <where>
            <if test="description != null and description != ''">
                and description like CONCAT ('%',#{description},'%')
            </if>
            <if test="dutyId != 0">
                and duty_id = #{dutyId}
            </if>
            <if test="userName != null and userName != ''">
                and user_name like CONCAT ('%',#{userName},'%')
            </if>
            <if test="publishTimeStart != null">
                and publish_time <![CDATA[ >= ]]> #{publishTimeStart}
            </if>
            <if test="publishTimeEnd != null">
                and publish_time <![CDATA[ <= ]]> #{publishTimeEnd}
            </if>
            and available = '1'
        </where>
        order by create_time desc
    </select>
    <select id="selectById" resultType="com.han.ls.project.domain.Task">
        select *
        from ls_task
        where id = #{id}
    </select>

</mapper>