<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.han.ls.project.mapper.UserMapper">
    <update id="updateUserInfo" parameterType="com.han.ls.project.domain.User">
        update ls_user
        <set>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="county != null and county.id > 0">
                county_id = #{county.id},
            </if>
            <if test="duty != null and duty.id > 0">
                duty_id = #{duty.id},
            </if>
            <if test="wxCode != null and wxCode != ''">
                wx_code = #{wxCode},
            </if>
            <if test="userName != null and userName != ''">
                user_name = #{userName},
            </if>
            <if test="avatarUrl != null and avatarUrl != ''">
                avatar_url = #{avatarUrl},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="disabled">
        update ls_user
        set available = '0'
        where id = #{id}
    </update>
    <select id="list" resultType="com.han.ls.project.domain.User">
        select *
        from ls_user
    </select>


    <resultMap id="user" type="com.han.ls.project.domain.User">
        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <result column="phone" property="phone"/>
        <result column="wx_code" property="wxCode"/>
        <result column="open_id" property="openId"/>
        <result column="union_id" property="unionId"/>
        <result column="avatar_url" property="avatarUrl"/>
        <result column="remark" property="remark"/>
        <result column="address" property="address"/>
        <result column="business_type" property="businessType"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="available" property="available"/>
        <association property="county" javaType="com.han.ls.project.domain.County">
            <id column="county_id" property="id"/>
            <result column="code" property="code"/>
            <result column="county_name" property="name"/>
            <result column="province_id" property="provinceId"/>
            <result column="province_name" property="provinceName"/>
            <result column="province_code" property="provinceCode"/>
            <result column="city_id" property="cityId"/>
            <result column="city_code" property="cityCode"/>
            <result column="city_name" property="cityName"/>
        </association>
        <association property="duty" javaType="com.han.ls.project.domain.Duty">
            <id column="duty_id" property="id"/>
            <result column="duty_name" property="name"/>
            <result column="description" property="description"/>
        </association>
    </resultMap>

    <select id="selectById" resultMap="user">
        select ls_user.*,
               ls_duty.id     as duty_id,
               ls_duty.name   as duty_name,
               ls_duty.description,
               ls_county.id   as county_id,
               ls_county.code,
               ls_county.name as county_name,
               ls_county.province_id,
               ls_county.province_code,
               ls_county.province_name,
               ls_county.city_id,
               ls_county.city_code,
               ls_county.city_name
        from ls_user
                 left join ls_duty on ls_user.duty_id = ls_duty.id
                 left join ls_county on ls_user.county_id = ls_county.id
        where ls_user.id = #{id}
    </select>

    <select id="selectByOpenId" resultMap="user">
        select ls_user.*,
               ls_duty.id     as duty_id,
               ls_duty.name   as duty_name,
               ls_duty.description,
               ls_county.id   as county_id,
               ls_county.code,
               ls_county.name as county_name,
               ls_county.province_id,
               ls_county.province_code,
               ls_county.province_name,
               ls_county.city_id,
               ls_county.city_code,
               ls_county.city_name
        from ls_user
                 left join ls_duty on ls_user.duty_id = ls_duty.id
                 left join ls_county on ls_user.county_id = ls_county.id
        where open_id = #{openId}
    </select>

    <insert id="add" parameterType="com.han.ls.project.domain.User">
        insert into ls_user (user_name, create_time)
        values (#{userName}, #{createTime})
    </insert>
    <insert id="register" parameterType="com.han.ls.project.domain.User" keyProperty="id" useGeneratedKeys="true">
        insert into ls_user (user_name, open_id, union_id, avatar_url, create_time)
        values (#{userName}, #{openId}, #{unionId}, #{avatarUrl}, #{createTime})
    </insert>

</mapper> 