<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.han.ls.project.mapper.UserMapper">

    <select id="list" resultType="com.han.ls.project.domain.User">
        select *
        from ls_user
    </select>
    <select id="selectById" resultType="com.han.ls.project.domain.User">
        select *
        from ls_user
        where id = #{id}
    </select>
    <select id="selectByOpenId" resultType="com.han.ls.project.domain.User">
        select *
        from ls_user
        where open_id = #{openId}
    </select>

    <insert id="add" parameterType="com.han.ls.project.domain.User">
        insert into ls_user (user_name, create_time)
        values (#{userName}, #{createTime})
    </insert>
    <insert id="register" parameterType="com.han.ls.project.domain.User" keyProperty="id" useGeneratedKeys="true">
        insert into ls_user (user_name, open_id, union_id, avatar_url, create_time)
        values (#{userName}, #{openId}, #{unionId}, #{avatarUrl}, #{createTime})
    </insert>

</mapper> 