<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.han.ls.project.mapper.UserMapper">

    <select id="list" resultType="User">
        select *
        from ls_user
    </select>

    <insert id="add" parameterType="User">
        insert into ls_user (user_name, create_time)
        values (#{userName}, #{createTime})
    </insert>

</mapper> 